only-ie6()
  * html &
    {block}

* html
  {$only-ie6}

only-ie7()
  *:first-child+html &
    {block}

*:first-child+html
  {$only-ie7}

$hack-css-ie8 = '@media \0screen'
only-ie8()
  {$hack-css-ie8} &
    {block}

{$hack-css-ie8}
  {$only-ie8}

$hack-css-ie67 = '@media screen\9'
or-ie6-ie7()
  {$hack-css-ie67} &
    {block}

{$hack-css-ie67}
  {$or-ie6-ie7}

$hack-css-ie68 = '@media \0screen\,screen\9'
or-ie6-ie7-ie8()
  {$hack-css-ie68} &
    {block}

{$hack-css-ie68}
  {$or-ie6-ie7-ie8}

$hack-css-ie810 = '@media screen\0'
or-ie8-ie9-ie10()
  {$hack-css-ie810} &
    {block}

{$hack-css-ie810}
  {$or-ie8-ie9-ie10}

or-ie9-ie10()
  @media screen and (min-width:0)
    &
      {block}

@media screen and (min-width:0)
  {$or-ie9-ie10}

only-ie11()
  _:-ms-fullscreen, :root &
    {block}

_:-ms-fullscreen, :root
  {$only-ie11}

or-saf2-saf3()
  html[xmlns*=""] body:last-child &
    {block}

html[xmlns*=""] body:last-child
  {$or-saf2-saf3}

or-saf5-saf6()
  _::-moz-svg-foreign-content, :root &
    {block}

_::-moz-svg-foreign-content, :root
  {$or-saf5-saf6}

only-ff()
  body:not(:-moz-handler-blocked) &
    {block}

body:not(:-moz-handler-blocked)
  {$only-ff}

only-op()
  _:-o-prefocus, body:last-child &
    {block}

_:-o-prefocus, body:last-child
  {$only-op}
